@reference "tailwindcss";

.board-main {
    @apply relative flex flex-col justify-between items-center min-h-screen w-screen;
    background-image: url('./assets/texture.jpg');
    background-repeat: repeat;
    background-size: 100%;
    /* adjust to taste */
}

.board-side {
    @apply flex gap-5 justify-center items-center w-full min-h-[33vh] border
}

.texture-main {
    @apply absolute w-full h-full object-cover -z-1 bg-repeat
}